@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yellowtail&display=swap');

body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffefeb;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container{
  width: 100%;
  padding: 20px;
}

h1{
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  text-color: #ffffff;
  font-size: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 200px;
  margin-left: 270px;
}

.door{
  width: 100%;
  height: 100%;
}  

.cursor {
  position: absolute;
  width: 0; /* Start width at 0 for animation */
  color: RGB(29, 76, 44);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  margin-top: 200px;
  margin-left: 295px;
  border-right: 2px solid RGB(29, 76, 44); /* Cursor effect */
  animation: typewriter 2s steps(13) 1 normal both, 
             blinkingCursor 500ms steps(13) infinite normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 160px; }
}

@keyframes blinkingCursor {
  50% { border-right-color: transparent; }
}
